<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.EntityFrameworkCore" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.6.0" newVersion="2.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.EntityFrameworkCore.Relational" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.6.0" newVersion="2.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Caching.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SqlClient" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.1" newVersion="4.5.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Remotion.Linq" publicKeyToken="fee00910d6e5f53b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Caching.Memory" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!--CHANGE THIS IF NECESSARY-->
  <appSettings>
    <!--SETTINGS-->
    <add key="GPSCOMPORT" value="COM5" />
    <add key="DATACOMPORT" value="COM7" />
    <add key="IP" value="192.168.137.1" />
    <add key="IPREMOTE" value="192.168.137.90" />
    <add key="PORTREMOTE" value="20526" />
    <add key="PORT" value="20527" />

    <!-- DATA VARIABLES DO NOT CHANGE KEY.
    Only Start "Index" are NOT 0x prefixed
    -->
    <add key="ExpectedStartByte" value="0x26"/>
    <add key="IdIndex" value="1"/>
    <add key="StartByteIndex" value="0"/>
    <add key="DataLengthIndex" value="2"/>
    <add key="MotorId" value="0x72"/>
    <add key="BmsId" value="0x70"/>
    <add key="GpsId" value="0x73"/>
    <add key="BuffSize" value="128"/>
    <add key="MpptId" value="0x74"/>
    <add key="DebugId" value="0x75"/>
    <add key="AckId" value="0x77"/>
	  <!-- ... -->
  </appSettings>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=PCJTHSOLBIL-14\MSSQLSERVER01;Initial Catalog=telemetry;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
